[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mako = "*"
pygments = "*"
markdown = "*"
drmnotes = {editable = true, path = "."}
ipython = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
