dl.metadata{
    font-family: Courier, monospace;
    font-size: 0.8em;
    color: #3e6f45;
    word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

dl.metadata dt::after {
  content: ": ";
}

dl.metadata dt {
  clear: left;
  float: left;
  padding: 0;
  margin: 0
}

dl.metadata dd {
  float: left;
  padding: 0;
  margin-left: 1em 
}

#the-post p.subtitle, #the-essay p.subtitle { display: none; }

#the-essay { margin-top: -2em; }

h4 { font-style: italic;
     font-weight: 400;
     font-size: 1.5rem;
     margin-top: 2rem;
     margin-bottom: 1.4rem;
     line-height: 1; }

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul#the-bibliography {
    padding-left: 0;
}

ul#the-bibliography li {
    list-style-type: none;
}

nav#TOC ol li {
    list-style-type: decimal;
}

